<?xml version='1.0' encoding='utf-8'?>
<widget id="ovh.serial30.diagnocom" version="2.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DiagnoCom</name>
    <description>Sistema experto diagnosticador de enfermedades comunes en adultos</description>
    <author email="gama.rios0110@gmail.com" href="https://github.com/Gama19999">GAMARS</author>

    <content src="index.html" />
    <icon src="www/media/diagnocom.webp" />

    <access origin="https://diagnocom-api.serial30.ovh/*" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/splashscreen/splashscreen.xml" />
    <preference name="AndroidWindowSplashScreenBackground" value="#000000" />
    <preference name="FadeSplashScreenDuration" value="200"/>
</widget>
