<?xml version='1.0' encoding='utf-8'?>
<widget id="com.serial30.diagnocom" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DiagnoCom</name>
    <description>Sistema experto diagnosticador de enfermedades comunes en adultos</description>
    <author email="gama.rios0110@gmail.com" href="https://github.com/Gama19999">GAMARS</author>

    <content src="index.html" />

    <icon src="www/assets/images/icon_nobg.png" />

    <!-- Local access -->
    <access origin="http://192.168.1.90:9999/*" />
    <!-- Remote access -->
    <access origin="http://148.113.173.234:9999/*" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <preference name="scheme" value="http" />
    <preference name="usesCleartextTraffic" value="true" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/splashscreen/splashscreen.xml" />
    <preference name="AndroidWindowSplashScreenBackground" value="#000000" />

    <platform name="android">
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
</widget>
